{% extends 'base.html' %}
{% load cart %}
{% block title %} Fashion | Cart {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if request.session.cart %}
        <h1 class="font-weight-light">Cart</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
            	{% for product in allProduct %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img height="180px" width="100px" src="{{ product.image.url }}" alt=""></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price|currency }}</td>
                    <td>{{ product|cart_quantity:request.session.cart }}</td>
                    <td>
                    	<a href="cart?increase={{ product.id }}" class="btn btn-sm btn-warning"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0zm18.31 6l-2.76 5z" fill="none"/><path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"/></svg></a>
                        <a href="cart?decrease={{ product.id }}" class="btn btn-sm btn-danger"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg></a>
                    </td>
                    <th>{{ product|price_subtotal:request.session.cart|currency }}</th>

                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            	<tr>
            		<td colspan="5"></td>
            		<td colspan="1"><strong>Total : </strong></td>
            		<td>{{ allProduct|price_total:request.session.cart|currency }}</td>
            	</tr>
            </tfoot>
        </table>
    </div>
    <hr>
    <div class="float-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
          Checkout
        </button>
    </div>
    {% else %}
        <h1 class="font-weight-light text-center">No cart added</h1>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/checkout" method="post">
                {% csrf_token %}
                 <div class="form-group">
                    <label for="address">Address</label>
                    <input name="address" type="text" class="form-control" id="address" placeholder="Enter address" required >
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input name="phone" type="number" class="form-control" id="phone" placeholder="Enter phone" required >
                </div>
                <div class="float-right">
                    <input type="submit" value="Confirm" class="btn btn-success">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}